.dashbard-container {
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    overflow: hidden;

    .navbar-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;

        .outlet {
            flex-grow: 1;
            width: 100%;
            padding: 1rem;
            background-color: var(--seperatoor);
            overflow-y: auto;
            height: calc(100vh - 50px);
        }
    }
}
