.add-invoice-container {
    margin: 2%;
    background-color: var(--softBg);
    color: var(--textColor);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 2%;

    transition: background-color 0.3s ease, color 0.3s ease;

    .add-invoice-header {
        padding-left: 2%;
        padding-top: 1%;
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--textColor);
    }

    .invoice-form {
        padding: 2%;
        width: 100%;

        .form-row {
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 15px;

            .form-field {
                flex: 1;

                div {
                    margin-bottom: 5px;
                    font-weight: 500;
                }

                input,
                select {
                    width: 100%;
                    padding: 8px 10px;
                    border-radius: 6px;
                    border: 1px solid var(--seperatoor);
                    background-color: var(--bg);
                    color: var(--textColor);
                    transition: all 0.3s ease;

                    &:focus {
                        outline: none;
                        border-color: var(--primary);
                        box-shadow: 0 0 5px var(--primary);
                    }
                }
            }
        }

        .submit-invoice {
            font-size: 16px;
            max-width: 150px;
            border: none;
            border-radius: 8px;
            background-color: var(--primary);
            color: var(--bg);
            margin-top: 40px;
            padding: 10px 16px;
            float: right;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--secondary);
                color: var(--bg);
                transform: translateY(-2px);
            }
        }
    }


    @media (max-width: 992px) {
        .invoice-form {
            .form-row {
                flex-direction: column;
            }

            .submit-invoice {
                margin-left: 0;
                width: 100%;
                float: none;
            }
        }
    }

    @media (max-width: 576px) {
        margin: 4%;
        padding: 4%;

        .add-invoice-header {
            font-size: 1.4rem;
        }

        .invoice-form {
            font-size: 15px;
        }
    }
}